body {
  background: #444444;
  color: #BFA68D;
  text-align: center;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  font-family: cursive;
}

li {
  text-align: left;
  font-size: 2rem;
}

strong {
  font-size: 1.5rem;
}

a {
  color: #aa1e1e;
}
